<br>
<br>
<br>
<br>
<h1>All Chefs</h1>

<ul class='nav nav-tabs'>
    <li><%= link_to "Recepies", recipes_path %></li>
    <li><%= link_to "Chefs", chefs_path %></li>
</ul>

<%= will_paginate %>
<% @chefs.each do |chef| %>
    <div class='row'>
        <div class='col-md-2'>
            <section class='chef_info center'>
                <%= gravatar_for chef %>
                <p>Chef name: <%= chef.chefname %></p>
            </section>
            
        </div>
        
        <div class='col-md-10 well'>
           <h4><%= link_to chef.chefname, chef_path(chef)  %></h4>
           <p><%= chef.email %></p>
           <p><%= chef.created_at %></p>
        </div>
    </div>
    <hr/>
<% end %>
<%= will_paginate %>
