<br>
<br>
<br>
<br>
<h1>Chef Name: <%= @chef.chefname %></h1>
<div class='row'>
    <div class='col-md-4'>
      <%= gravatar_for @chef, size:200 %>
    </div>
</div>

<br>
<%= will_paginate @recipes %>
<div class='row'>
<% @recipes.each do |recipe| %>
    <div class='row'>
        <div class='col-md-2'>
            <section class='chef_info center'>
                <%#= gravatar_for recipe.chef %>
                <p>Chef name: <%= recipe.chef.chefname %></p>
            </section>
            <%= image_tag(recipe.picture.url, size: '150x120', class: 'gravatar', style: 'border-radius:5px' ) if recipe.picture? %>
        </div>
        
        <div class='col-md-10 well'>
           <h4><%= link_to recipe.name, recipe_path(recipe)  %></h4>
           <p>Created: <%= time_ago_in_words(recipe.created_at) %> ago</p>
           <p>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</p>
           <div class="pull-right">
                <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.total_thumbs_up %>
                 <% end %>
                  &nbsp;
                  <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.total_thumbs_down %>
                  <% end %>
            </div>
        </div>
    </div>
    <hr/>
<% end %>
</div>
<%= will_paginate @recipes%>