<br>
<br>
<br>

<h1>All recipes</h1>

<% @recipes.each do |recipe| %>
    <div class='row'>
        <div class='col-md-2'>
            <section class='chef_info center'>
                <%#= gravatar_for recipe.chef %>
                <p>Chef name: <%= recipe.chef.chefname %></p>
            </section>    
        </div>
        
        <div class='col-md-10 well'>
           <h4><%= link_to recipe.name, recipe_path(recipe)  %></h4>
           <p>Summary: <%= recipe.summary %></p>
           <p>Description: <%= recipe.description %></p>
           <p><%= time_ago_in_words(recipe.created_at) %> ago</p>
        </div>
    </div>
    <hr/>
<% end %>
